<div class="pointage-container">
    <h3>Pointage</h3>
    <div>
      <button (click)="onDemandeConge()">Faire une demande de congé</button>
    </div>

  <!-- Si l'utilisateur clique sur "Faire une demande de congé", afficher le formulaire -->
  <div *ngIf="showDemandeCongeForm">
    <h3>Demander un congé</h3>
    <form [formGroup]="demandeForm" (ngSubmit)="onSubmitDemande()">
      <div>
        <label for="debut">Date de début</label>
        <input id="debut" type="date" formControlName="debut" />
      </div>
      <div>
        <label for="fin">Date de fin</label>
        <input id="fin" type="date" formControlName="fin" />
      </div>
      <div>
        <label for="commentaire">Commentaire</label>
        <textarea id="commentaire" formControlName="commentaire"></textarea>
      </div>
      <button type="submit" [disabled]="demandeForm.invalid">Envoyer la demande</button>
    </form>
  </div>
</div>

    <div>
      <label for="entryTime">Entrée</label>
      <input type="datetime-local" [(ngModel)]="entryTime" id="entryTime">
    </div>
    
    <div>
      <label for="exitTime">Sortie</label>
      <input type="datetime-local" [(ngModel)]="exitTime" id="exitTime">
    </div>
    
    <button (click)="addPointage()">Enregistrer le pointage</button>
  
    <h4>Liste des pointages</h4>
    <ul>
      <li *ngFor="let pointage of pointages">
        <p>Id: {{ pointage.id }}</p>
        <p>Entrée: {{ pointage.entryTime }}</p>
        <p>Sortie: {{ pointage.exitTime }}</p>
        <p>Heures travaillées: {{ pointage.totalHours }} h</p>
      </li>
    </ul>
  </div>
  
  